/* common shared styles */
body{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
    color: #fd6e0a;
}
.button-primary{
    border-radius: 5px;
    background: #fd6e0a;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}


/* nav related styles*/
nav{
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin:0 200px;

} 
.mary-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
} 
nav li{
  list-style: none; 
  margin-right: 50px; 
}
nav a{
    text-decoration: none;
    color: #474747;
}
/* header related styles */
.header{
    color: black;
    background-image:url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 1000px;
}
.banner{
    padding: 30px 30px 30px 150px;
  display: flex;
    
    justify-content: space-between;
    
}
.banner-greeting{
    width:200px;
}
.banner-title{
    color: #fd6e0a;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
}
.verenda-title{
    color: rgb(63, 54, 50);

    
}
.banner .profile-picture{
    width: 300px;
    height: 400px;
    shape-margin: 50%;
    
}


